
label {
    font-size:10px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}


a {
    font-size:12px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

p {
    font-size:12px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}