<footer>
    <div class="container">
        <div>
            <p>{{config?.schoolName}}</p>
            <p> {{config?.schoolDescription}} </p>
        </div>
        <div> <P>Contact Us</P>
            <p>
            <a href="mailto:{{config?.emailAddress}}" title="glorythemes">{{config?.emailAddress}}</a>
            </p>
        <p><a title="glorythemes">{{config?.address}}</a></p>
        <p><a title="glorythemes">{{config?.contactNumber}}</a></p>
        </div>
        <div>
               <p> Terms and Conditions </p>
        </div>
    </div>
</footer>

