<div class="form-group row">
    <label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
    <div class="col-sm-2">
        <select class="form-control" id="gradelevel">
            <option selected>Month</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="form-control" id="gradelevel">
            <option selected>Day</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="form-control" id="gradelevel">
            <option selected>Year</option>
        </select>
    </div>
</div>