<div class="register-form container">
    
    <!-- new student-->
    <!-- <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="defaultInline1" name="studentType" value="new">
        <label class="custom-control-label" for="defaultInline1">New Student/Transferee</label>
    </div> -->
    
    <!-- old student-->
    <!-- <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="defaultInline2" name="studentType" value="old">
        <label class="custom-control-label" for="defaultInline2">Returning Student</label>
    </div> -->
    <!-- <form [formGroup]="registerForm" (submit)="onSubmit(registerForm.value)"> -->
        <form [formGroup]="registerForm">
            <mat-radio-group class="student-type-radio-group" formControlName="sType">
                <mat-radio-button class="student-type-radio-button student-options" *ngFor="let studentType of studentTypes" [value]="studentType">
                {{studentType}}
                </mat-radio-button>
            </mat-radio-group>
    

        <ng-container [ngSwitch]="getStudentType()">
            <!-- OLD STUDENT FORM -->
            <div id="old-student-form" *ngSwitchCase="'Returning Student'">
                <div class="bd-callout bd-callout-warning">
                    <p>All fields denoted by an asterisk(*) are required.</p>
                </div>
                <div class="form-group row">
                    <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="middlename" class="col-sm-2 col-form-label">Middle Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="middlename">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="extensionname" class="col-sm-2 col-form-label">Extension Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="extensionname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="emailaddress" class="col-sm-2 col-form-label">Active Email Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="emailaddress">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phonenumber" class="col-sm-2 col-form-label">Active Phone Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="phonenumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lrn" class="col-sm-2 col-form-label">Learner Reference Number (LRN) <p style="font-size: 10px;">N/A if not applicable <br/>This is in your child's report card</p></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lrn">
                    </div>
                </div>
                <!-- DATA DRIVEN GRADE LEVELS -->
                <div class="form-group row">
                    <label for="gradelevel" class="col-sm-2 col-form-label">Grade Level Applying For:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="gradelevel">
                            <option>Grade I</option>
                            <option>Grade II</option>
                            <option>Grade III</option>
                            <option>Grade IV</option>
                            <option>Grade V</option>
                        </select>
                    </div>
                </div>
                <app-triple-date></app-triple-date>
                <!-- DATA DRIVEN GRADE LEVELS -->
                <div class="form-group row">
                    <label for="nationality" class="col-sm-2 col-form-label">Nationality</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="nationality">
                            <option>Avatarian</option>
                            <option>Avenger</option>
                            <option>Filipino</option>
                            <option>Kapamilya</option>
                            <option>Liberal Party</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mailing-address" class="col-sm-2 col-form-label">Complete Mailing Address</label>
                    <div class="col-sm-10">
                        <textarea id="mailing-address" style="width: 100%;"></textarea>
                    </div>
                </div>
            </div>

            <!-- NEW STUDENT FORM -->
            <div id="new-student-form" *ngSwitchCase="'New Student/Transferee'">
                
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Basic Information</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Family Background</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Required Documents</a>
                    </li>
                </ul>
                <div class="bd-callout bd-callout-warning">
                    <p>All fields denoted by an asterisk(*) are required.</p>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <h4>Basic Information</h4>
                        
                        
                            <div class="form-group row">
                                <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="lastname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="firstname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="middlename" class="col-sm-2 col-form-label">Middle Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="middlename">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="extensionname" class="col-sm-2 col-form-label">Extension Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="extensionname">
                                </div>
                            </div>
                            <!-- THIS SHOULD BE COMPRISED OF 3 DROPDOWN -->
                            <div class="form-group row">
                                <label for="dateofbirth" class="col-sm-2 col-form-label">Date of Birth</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="dateofbirth">
                                </div>
                            </div>
                            
                            <!-- THIS SHOULD BE COMPRISED OF 3 DROPDOWN -->
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                                    <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="male">
                                        <label class="form-check-label" for="gridRadios1">
                                        Male
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="female">
                                        <label class="form-check-label" for="gridRadios2">
                                        Female
                                        </label>
                                    </div>
                                    </div>
                                </div> 
                            </fieldset>
                    
                            <div class="form-group row">
                                <label for="placeofbirth" class="col-sm-2 col-form-label">Place of Birth</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="placeofbirth"></textarea>
                                </div>
                            </div>
                    
                            <!-- DATA DRIVEN GRADE LEVELS -->
                            <div class="form-group row">
                                <label for="gradelevel" class="col-sm-2 col-form-label">Grade Level</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="gradelevel">
                                        <option>Grade I</option>
                                        <option>Grade II</option>
                                        <option>Grade III</option>
                                        <option>Grade IV</option>
                                        <option>Grade V</option>
                                    </select>
                                </div>
                            </div>
                    
                            <!-- <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                                <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                    First radio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                    Second radio
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                                    <label class="form-check-label" for="gridRadios3">
                                    Third disabled radio
                                    </label>
                                </div>
                                </div>
                            </div> 
                            </fieldset>
                            <div class="form-group row">
                            <div class="col-sm-2">Checkbox</div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Example checkbox
                                </label>
                                </div>
                            </div>
                            </div> -->
                            
                        
        
        
                    </div> 
                    <!-- END OF FIRST TAB -->
                    <!-- START 2ND TAB -->
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <h4>Family Background</h4>
                        
                    </div>
                    <!-- END 2ND TAB -->
                    <!-- START 3RD TAB -->
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <h4>Required Documents</h4>
                        
                        
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>  
                    </div>
                    <!-- END 2ND TAB -->
            </div>
            <!-- END TABS DIV -->
                
            </div>

        </ng-container>
    </form>
</div>
<!-- END CONTAINER -->