.tab-pane h4{ padding-bottom: 25px;}
.register-form{min-height: 80%;}
.register-form .bd-callout-warning{color:red; font-size: 10px;}
.student-options{padding: 0px 30px;}

/* HACK */
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #007bff !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
    background-color: #007bff;
    
}